// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #8C3253;

.btn-primary {
  @include button-variant($primary, darken($primary, 7.5%), darken($primary, 10%), lighten($primary,5%), lighten($primary, 10%), darken($primary,30%));
}

.btn-outline-primary {
  @include button-outline-variant($primary, #222222, lighten($primary,5%), $primary);
}

// Font Variables
$dancing-script: 'Dancing Script', cursive;
$lato: 'Lato', sans-serif;

// Custom Styles
body {
  font-family: $lato;
}

.fancy {
  font-family: $dancing-script;
}

.indent {
  padding-left: 20px;
}